html {
  display: none;
}

/**
 * Switcher Css
 */

.darkluplite-mode-switcher {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 100000000000;
}
.darkluplite-mode-switcher.top_right {
  top:38px;
  right: 20px;
}
.darkluplite-mode-switcher.top_left {
  top:38px;
  left: 20px;
}
.darkluplite-mode-switcher.bottom_right {
  bottom: 20px;
  right: 20px;
}
.darkluplite-mode-switcher.bottom_left {
  bottom: 10px;
  left: 20px;
}
.darkluplite-mode-switcher .mode-switcher-inner {
  cursor: pointer;
}


